@import "./partials/animazioni";
@import "./partials/bottoni";
@import "./partials/colori";
@import "./partials/font";
@import "./partials/mixins-generici";
@import "./partials/spaziature";
@import "./partials/reset";

body {
  margin: 0;
  font-family: $primaryFamily;
}

header {
  padding-inline: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryColor;
  img {
    width: 6%;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      color: $otherColor;
      text-decoration: none;
    }
  }
}

hr {
  margin: 0;
  height: 0.5px;
}

.hero {
  background-color: $primaryColor;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .heroText {
    width: 50%;
    padding-left: 6rem;
    padding-block: 5rem;
  }
  h1 {
    margin: 0;
    color: $otherColor;
  }
  p {
    margin: 0;
    color: $otherColor;
  }
  img {
    width: 50%;
    border-radius: 20px;
  }
}

section {
  text-align: center;
  background-color: $otherColor;
  margin: 0;
  padding-block: 6rem;
  h2 {
    margin: 0;
    padding-top: 0;
  }
  button {
    margin-inline: 2rem;
  }
}

.btnSec1 {
  @include btnSection($primaryColor, $otherColor, transparent, transparent, 1.5rem, 230px);
}
.btnSec2 {
  @include btnSection($otherColor, $primaryColor, $primaryColor, $primaryColor, 1.5rem, 230px);
}
.btnSec3 {
  @include btnSection($primaryColor, $otherColor, transparent, transparent, 1.5rem, 230px);
}

article {
  background-color: $primaryColor;
  margin: 0;
  padding-inline: 6rem;
  color: $otherColor;
  .container {
    padding-block: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card {
    width: 20%;
    background-color: $otherColor;
    color: $primaryColor;
    text-align: center;
    border-radius: 30px;
    h3 {
      margin: 0;
    }
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}

footer {
  padding-inline: 6rem;
  padding-block: 6rem;
  background-color: $otherColor;
  color: $primaryColor;
}
